.greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $basic-font;
  text-transform: uppercase;
  width: 100%;
  height: 100vh;
  background-image: url("/img/option.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.greeting__logo {
  width: 100px;
  height: 100px;
}

.greeting__img {
  width: 100%;
  height: 100%;
}

.greeting__text-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include middle-tablet {
    padding: 40px;
    // align-items: flex-start;
    align-items: flex-end;
  }

  @include mobile {
  padding-top: 200px;
  }
}

.greeting__heading {
  font-weight: normal;
  font-size: 36px;
  color: #d7d7d7;
  padding-bottom: 25px;

  @include middle-mobile {
    // background: #000;
    font-size: 24px;
    padding-bottom: 50px;
  }
}

.greeting__text {
  color: #a3a3a3;
  padding-bottom: 35px;

  @include middle-mobile {
    font-size: 14px;
    padding-bottom: 50px;
  }
}

.greeting__text-selection {
  display: inline-block;
  margin: 0 10px -10px 10px;
}

.greeting__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  text-transform: uppercase;
  // border: 2px solid #6262626b;
  border: 2px solid #6262626b;
  color: #a3a3a3;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 8px #acacac;

  @include middle-mobile {
    width: 150px;
    height: 50px;
  }
}

.greeting__button:hover {
// background-color: #0e0d0d;
transition: 1s;
color: #ff0000;
// border: 1px solid #ff0000;
box-shadow: 0 0 8px #ff0000;
}

.greeting__button:not(:hover) {
  transition: 1s;
}
