.menu {
  display: block;
  font-family: $basic-font;
  padding-left: 50px;
  padding-top: 50px;
  transition: 1s;

  @include tablet {
    padding-left: 20px;
    padding-top: 20px;
  }

  @include mobile {
    position: absolute;
  }
}

.menu__heading {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 35px;

  @include mobile {
    // background: #000;
    // color: #fff;
    background:  #fff;
    color:#000;
  }
}

.menu__heading-selection {
  color: #ff0000;
  // background: #ff0000;
  // padding: 0px 2px;
  // border-radius: 5px;
}

.menu__logo {
  width: 180px;
  height: 250px;
  margin-bottom: 35px;

  @include tablet {
    width: 158px;
    height: 168px;
  }

  @include mobile {
    // width: 50px;
    // height: 50px;
    display: none;
  }
}

.menu__img {
  width: 100%;
  height: 100%;

  @include tablet {
    object-fit: cover;
  }
}

.menu__item {
  padding-bottom: 5px;

  @include mobile {
    background:  #fff;
    color:#000;
    text-align: center;
    margin-bottom: 2px;
    padding: 5px;
  }
}

.menu__link {
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  transition: 0.4s;
}

.menu__link:hover {
  transform: scale(1.05);
  color: #ff0000;
// box-shadow: none;
// opacity: 0.3;
}

