.helper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgba(166, 230, 219, 0.4);

    @include md {
        width: 100px;
        height: 100px;
    }
}

.helper__icon {
    width: 64px;
    height: 64px;

    @include md {
        width: 40px;
        height: 40px;
    }
}