.servises {
    padding-top: 256px;

    @include max {
        padding-top: 120px;
    }
}

.servises__top {
    display: flex;
    margin-bottom: 16px;

    @include max {
        margin-bottom: 36px;
    }

    @include lg {
        align-items: center;
    }

    @include sd {
        display: block;
    }
}

.servises__top-logo {
    flex-shrink: 0;
    width: 50%;
    max-width: 580px;

    @include lg {
        width: 35%;
    }

    @include sd {
        width: 80%;
    }
}

.servises__heading {
    padding-top: 41px;
    margin-left: 168px;

    @include max {
        width: auto;
        margin-left: 60px;
        padding-top: 0;
    }

    @include exlg {
        margin-left: 24px;
    }

    @include sd {
        margin-left: 0;
        margin-top: 24px;
    }
}

.servises__text--bold {
    font-weight: 600;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0.055em;
    text-align: left;
    text-transform: uppercase;

    @include max {
        font-size: 36px;
    }

    @include exlg {
        font-size: 24px;
    }

    @include lg {
        font-size: 18px;
    }

    @include sd {
        text-align: center;
    }
}

.servises__menu {
    display: flex;

    @include md {
        display: block;
    }
}

.servises__menu-right {
    width: 473px;
    flex-shrink: 0;
    margin-left: 100px;

    @include max {
        margin-left: 0;
        font-size: 36px;
        width: 50%;
    }

    @include exlg {
        margin-left: 0;
        font-size: 36px;
    }

    @include md {
        width: 100%;
    }
}

.servises__menu-left {
    padding-top: 208px;
    padding-left: 145px;
    margin-right: 100px;

    @include max {
        width: 50%;
        margin-right: 0;
        padding-left: 24px;
    }

    @include md {
        width: 100%;
        padding: 0;
    }
}

.servis-item__nav {
    list-style: disc;
    padding-left: 30px;
    padding-top: 30px;
}
.servis-item__list {
    padding: 10px;
}





